div[id='header-title'] {
  @media (max-width: 992px) {
    display: none;
  }
}

h3.title {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  border-left-color: rgba(255, 255, 255, 0.8);
  border-left-style: solid;
  border-left-width: 0.5px;
  padding-left: 10px;

  @media (max-width: 1400px) {
    font-size: 20px;
  }

  @media (max-width: 1200px) {
    font-size: 18px;
  }
}