.editor {
  border-radius: 0 0 4px 4px;
  border: 1px solid #d9d9d9;
  border-top: none;
  padding: 0 6px;
}

.toolbarStyle {
  border: 1px solid #D9D9D9;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
}
