.exHeader {
  height: 64px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 768px) {
    padding: 0 30px;
    justify-content: space-between;
  }

  .headerChildren {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .headerLogo {
    display: flex;
    align-items: center;

    @media (min-width: 577px) {
      display: none;
    }
  }

  .usernameText {
    margin-left: 40px;

    @media (max-width: 768px) {
      margin-left: 0;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  .userAvatar {
    margin-right: 20px;

    @media (max-width: 576px) {
      margin-right: 0;
      display: none;
    }
  }

  .logOutButton {
    color: white;
    display: flex;
    align-items: center;
    gap: 14px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .burgerMenu {
    display: none;
    font-size: 25px;
    margin-right: 20px;

    @media (max-width: 768px) {
      display: unset;
    }
  }
}

.mobileItemsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  max-height: 500px;
  height: 90%;
  width: 90%;

  @media (max-height: 768px) {
    max-height: 400px;
  }

  .mobileItemsContainer {
    padding: 30px 20px;

    .mobileMenuItem {
      display: flex;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}